@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin serif-title(){
	font-size: 48px;
	letter-spacing: -3px;
	font-family: Merriweather, serif;
	font-weight: 300;
}
