$primary: #60c659;


$contain-padding: 40px 15px;

$break-small: 768px;
$site-width: 1200px;

$color_dark: #444444;
$color_darkAccent: #6EB7A8;
$color_light: #ffffff;
$color_smoke: #F5F5F5;
$color_smokeDark: darken($color_smoke, 15%);
$color_lightGray: #777777;
