footer {
  background-color: $color_dark;
  color: $color_light;
  text-align: center;
  height: 400px;
  .content-wrapper {
    color: $color_light;
    font-weight: bold;
    @include vertical-align;
  }
}
