#hero {
	overflow: hidden;
	text-align: center;
	background-color: $color_dark;
	text-align: center;
	position: relative;
	background-size: contain;
	background-position: center 0px;
	background-attachment: fixed;
	height: 600px;
	text-align: center;
	.hero-inner	{
		background-color: white;
		padding: 10px 40px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			display: inline-block;
			border-bottom: 2px solid $color_smoke;
		h1 {
			color: $color_dark;
			font-size: 20px;
			font-weight: 900;
			margin: 0;
			display: inline-block;
		}
	}
}


#hero { background-attachment: scroll; }
