#portfolio {
  background-color: $color_smoke;
  .content-wrapper {
    text-align: center;
    padding: 60px 30px;
    .portfolio-card {
      background-color: $color_light;
      padding-bottom: 20px;
      img {
        max-width: 100%;
      }
    }
  }
}
