#portfolio {
  background-color: $color_smoke;
  .content-wrapper {
    text-align: center;
    padding: 60px 30px;
    .portfolio-card {
      background-color: $color_light;
      img {
        max-width: 100%;
      }
      .portfolio-title {
        margin: 0px;
        padding: 20px 0px;
      }
    }
  }
}
